

.cabecalho__menu{
    display: flex;
    gap: 1rem;
    list-style-type: none;
}

    .cabecalho__menu a{
        color: #000;
        text-decoration: none;
    }

    .cabecalho__menu a:hover{
        font-weight: 500;
    }


.container{
    margin: auto;
    width: 1200px;
}

    .cabecalho > .container{
        align-items: center;
        display: flex;
        height: 4rem;
        justify-content: flex-end;
    }

.hero{
    background-image: url('../../img/fundo-hero.jpg');
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100vh;
}

.produtos, .adocao{
    display: flex;
    height: 50vh;
    
}


.produtos > *, .adocao > *{
    flex-basis: 100%;
}

.produtos__descricao, .adocao__descricao{
    box-sizing: border-box;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6rem;
    gap: 1rem;
    max-width: 50%;
}

.produtos{
    background-color: #FAFAFA;
    display: flex;
}

    .produtos__descricao{
        background-color: #fff1a2;
    }


.produtos__imagem{
    background-image: url(../../img/fundo-produtos1.jpg);
    background-size: cover;
    background-position: center;
}


.adocao{
    background-color: #FAFAFA;
    display: flex;
}

    .adocao__descricao{
        background-color: #ffcfcf;
    }

 .adocao__imagem{
    background-image: url(../../img/fundo-adocao.jpg);
    background-size: contain;
    background-position: center;
}